<a href="https://colab.research.google.com/github/ljm0617/mysql/blob/main/mySQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#clone repository to collaboratory
!git clone https://github.com/ljm0617/mysql.git

Cloning into 'mysql'...
remote: Enumerating objects: 27, done.
remote: Counting objects: 100% (27/27), done.
remote: Compressing objects: 100% (27/27), done.
remote: Total 27 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (27/27), done.

In [144]:
import os, io, pandas as pd
CURR_DIR = os.getcwd()
path = CURR_DIR + "/mysql/csv-files"
l_files = os.listdir(path) #list all the files inside the folder
print(l_files)
#create empty dataset
allFnames = pd.DataFrame()
allFnames["fname"] = []
allFnames["varnum"] = []
allFnames["field"] = []
allFnames["nonnullCNT"] = []
allFnames["datatype"] = []


for fname in l_files:
  if fname[-3:] == "csv": #Take .csv file format only
    df = pd.read_csv(path+"/"+fname)
    buffer = io.StringIO()
    df.info(buf=buffer)
    s = buffer.getvalue() #string

    for lines in s.splitlines()[5:-2]:
      tempDict = {}
      tempDict["fname"] = fname
      tempDict["varnum"] = lines.split()[0]
      tempDict["field"] = lines.split()[1]
      tempDict["nonnullCNT"] = lines.split()[2]
      tempDict["datatype"] = lines.split()[4]

      allFnames = allFnames.append(tempDict, ignore_index=True)

print(allFnames.tail())
print(allFnames.head())
print(allFnames.info())
print(allFnames.describe())

allFnames.to_csv(CURR_DIR + "/mysql/allFnames.csv",index=False)

['Appearances.csv', 'AllstarFull.csv', 'AwardsManagers.csv', 'HomeGames.csv', 'Schools.csv', 'PitchingPost.csv', 'People.csv', 'AwardsPlayers.csv', 'TeamsFranchises.csv', 'BattingPost.csv', 'Fielding.csv', 'SeriesPost.csv', 'HallOfFame.csv', 'Pitching.csv', 'FieldingOF.csv', 'FieldingPost.csv', 'Batting.csv', 'Teams.csv', '.ipynb_checkpoints', 'readme2014.txt', 'Managers.csv', 'CollegePlaying.csv', 'Parks.csv', 'Salaries.csv']
            fname varnum     field nonnullCNT datatype
313  Salaries.csv      0    yearID      26428    int64
314  Salaries.csv      1    teamID      26428   object
315  Salaries.csv      2      lgID      26428   object
316  Salaries.csv      3  playerID      26428   object
317  Salaries.csv      4    salary      26428    int64
             fname varnum     field nonnullCNT datatype
0  Appearances.csv      0    yearID     105789    int64
1  Appearances.csv      1    teamID     105789   object
2  Appearances.csv      2      lgID     105052   object
3  Appearances.csv      3  playerID     105789   object
4  Appearances.csv      4     G_all     105789    int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318 entries, 0 to 317
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   fname       318 non-null    object
 1   varnum      318 non-null    object
 2   field       318 non-null    object
 3   nonnullCNT  318 non-null    object
 4   datatype    318 non-null    object
dtypes: object(5)
memory usage: 12.5+ KB
None
            fname varnum   field nonnullCNT datatype
count         318    318     318        318      318
unique         22     48     153        111        3
top     Teams.csv      0  yearID       2895    int64
freq           48     22      17         33      134

fatal: not a git repository (or any of the parent directories): .git

In [128]:
df = pd.read_csv("/content/mysql/csv-files/Appearances.csv")

allFnames = pd.DataFrame()
allFnames["fname"] = []
allFnames["varnum"] = []
allFnames["field"] = []
allFnames["nonnullCNT"] = []
allFnames["datatype"] = []

print(allFnames.info)

import io
buffer = io.StringIO()
df.info(buf=buffer)
s = buffer.getvalue()

for lines in s.splitlines()[5:-2]:
  tempDict = {}
  tempDict["fname"] = "Appearances.csv"
  tempDict["varnum"] = lines.split()[0]
  tempDict["field"] = lines.split()[1]
  tempDict["nonnullCNT"] = lines.split()[2]
  tempDict["datatype"] = lines.split()[3]
  #print(tempDict)
  allFnames = allFnames.append(tempDict, ignore_index=True)

print(allFnames)

<bound method DataFrame.info of Empty DataFrame
Columns: [fname, varnum, field, nonnullCNT, datatype]
Index: []>
              fname varnum      field nonnullCNT  datatype
0   Appearances.csv      0     yearID     105789  non-null
1   Appearances.csv      1     teamID     105789  non-null
2   Appearances.csv      2       lgID     105052  non-null
3   Appearances.csv      3   playerID     105789  non-null
4   Appearances.csv      4      G_all     105789  non-null
5   Appearances.csv      5         GS      96020  non-null
6   Appearances.csv      6  G_batting     105789  non-null
7   Appearances.csv      7  G_defense      98091  non-null
8   Appearances.csv      8        G_p     105789  non-null
9   Appearances.csv      9        G_c     105789  non-null
10  Appearances.csv     10       G_1b     105789  non-null
11  Appearances.csv     11       G_2b     105789  non-null
12  Appearances.csv     12       G_3b     105789  non-null
13  Appearances.csv     13       G_ss     105789  non-null
14  Appearances.csv     14       G_lf     105789  non-null
15  Appearances.csv     15       G_cf     105789  non-null
16  Appearances.csv     16       G_rf     105789  non-null
17  Appearances.csv     17       G_of     105789  non-null
18  Appearances.csv     18       G_dh     103718  non-null
19  Appearances.csv     19       G_ph      96020  non-null
20  Appearances.csv     20       G_pr      96020  non-null
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   fname       21 non-null     object
 1   varnum      21 non-null     object
 2   field       21 non-null     object
 3   nonnullCNT  21 non-null     object
 4   datatype    21 non-null     object
dtypes: object(5)
memory usage: 968.0+ bytes
None